body {
  margin: 0;
  background-color: black;
}

.header {
  width: 100%;
  border: 5px dotted red;
  box-sizing: border-box;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.main {
  display: flex
}

.leftSide {
  margin-left: 5%;
  margin-right: 5%;
}


.mainbox {
  position: relative;
  width: 300px;
  height: 300px;

}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 5px solid #fff;
  overflow: hidden;
}

span {
  width: 50%;
  height: 50%;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.span1 {
  clip-path: polygon(0 0%, 0 50%, 100% 100%);
  background-color: red;
}

.span2 {
  clip-path: polygon(0 0%, 0 50%, 100% 100%);
  background-color: black;
}

.box1 .span1 {
  background-color: white;
}

.box37 .span1 {
  clip-path: polygon(0 25%, 0% 50%, 100% 100%);
}

span p {
  top: 40%;
  left: 15%;
  font-size: 9px;
  position: absolute;
  width: 7.5%;
  height: 7.5%;
  transform: rotate(-58deg);
  background-color: white;
  text-align: center;
}

span area {
  background-color: green;
  position: absolute;
  z-index: 2;
  top: 59%;
  left: 39%;
  transform: rotate(122deg);
  width: 10%;
  height: 20px;
  border: 2px dotted white;
}

.ballSpin {
  height: 70%;
  width: 70%;
  top: 49px;
  left: 50px;
  position: absolute;
}

.ball {
  background-color: white;
  position: absolute;
  top: 2.5px;
  left: calc(50% - 5px);
  border-radius: 50%;
  z-index: 3;
  width: 10px;
  height: 10px;
}

button:focus {
  outline: 0;
}

.wrapper {
  height: 450px;
  width: 300px;
  display: grid;
  grid-template-rows:repeat(14, 1fr);
  grid-template-columns:repeat(5, 1fr);
  margin-bottom: 10px;
}

.wrapper > div:not(.largeTable):not(.largeHeader) {
  border: 1px solid white;
  background-color: green;
}


.redDiamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: red;
  margin: 5%;
  width: 90%;
  height: 90%;
}

.blackDiamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: black;
  margin: 5%;
  width: 90%;
  height: 90%;
}

.largeTable {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(14, 1fr);
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.row {
  display: flex;
}

.cell {
  display: grid;
  grid-template-columns: 5px 55px;
  grid-template-rows: 5px 27.1px;
  gap: 0px;
  font-size: 14px;
  background-color: green;
}
.cell > div {
  display: block;
  position: relative;
  text-align: center;
  background-color: green;
  padding: 0;
  margin: 0;
  color: white;
  width: 100%;
  height: 100%;
  margin-left: -3px;
  margin-top: -4px;
  cursor: pointer;
}

.cell >div:hover {
  filter: brightness(1.25);
  background-clip: border-box;
}

.cell >div:nth-of-type(1) {
  background: linear-gradient(#fff, #fff) no-repeat center/1px 100%;
  
}
.cell > div:nth-of-type(2) {
  background: linear-gradient(#fff, #fff) no-repeat center/100% 1px;
  
}
.cell > div:nth-of-type(3) {
  background: linear-gradient(#fff, #fff) no-repeat center/1px 100%;
  /* border-left: 1px solid white; */
}


.wrapper button {
  width: 100%;
  height: 100%;
  background-color: green;
  border: none;
  color: white;
  padding: 0;
  box-sizing: border-box;
}

.wrapper button:hover {
 filter: brightness(1.25);
}

.red button {
  background-color: transparent;
  
} 
.red:hover {
  filter: brightness(1.25)
}

.black button {
  background-color: transparent;
} 

.black:hover {
  filter: brightness(1.25)
}

.bet {
  width: 100px;
  color: white;
}

.betAmount {
  border: 1px dotted white;
  box-sizing: border-box;
}



.balance {
  border: 1px dotted white;
}

.bets {
  color: white
}

.thisBet {
  border: 1px solid white;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 5px;
  width: 96%;
}


.betAmount button {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  color: white;
}


.totalBet {
  color: white;
}

.chip {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 2px dotted white;
  border-radius: 50%;
  box-sizing: border-box;
  height: 16px;
  font-size: 9px;
  width: 16px;
  margin: 0;
  background: black;
  z-index: 3;
}

.largeHeader {
  text-align: center;
  align-items: center;
  border-left: 1px solid white;
  background-color: green;
  border-top: none;
}

.largeHeader:hover {
  filter: brightness(1.25);
}


.betControl {
  color: white;
  display: flex;
  position: absolute;
  bottom: 1%;
  left: 5%;
}

.betControl > div {
  margin-right: 10px;
}

.undo {
  background-color: black;
  color: white;
}

.repeat {
  background-color: blue;
  color: white;
}

.double {
  animation: double .5s linear infinite;
  box-sizing: border-box;
}

@keyframes double {
  0% {
    border: 3px solid red;
  }
  50% {
    border: 3px solid black;
  }
}

.won {
  animation: blink .5s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
